/*Extra small devices (portrait phones, less than 320px)*/
@media  (max-width: 320px){
.profile .pro_left label {
    margin-right: 0;
    margin-bottom: 10px;
}	
	
	
	
}
/*Extra small devices (portrait phones, less than 360px)*/
@media  (max-width: 360px){
.info .info_link a {
    width: 90% !important;
}	
	
	
	
	
	
	
	
}
/*Extra small devices (portrait phones, less than 375px)*/
@media  (max-width: 375px){
	
	
	
	
	
	
}
/*Extra small devices (portrait phones, less than 414px)*/
@media  (max-width: 414px){
	
	
	
	
	
	
	
}
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
header .nav-link {
    display: inline-block;
}   
.navbar-nav {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header .special {
    padding-left: 0;
}

.agenda .c_common {
    padding-bottom: 20px;
}
.agenda .content_inner_item {
    text-align: center;
}

.agenda .nav .nav-link {
    letter-spacing: 0.0425rem;
    font-size: 0.62rem;
}
.chat .chat_inner {
    margin-right: 0px;
}
.info .info_link a {
    width: 68%;
    margin-right: 0 !important;
    margin-bottom: 10px;
}




}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
header .nav-link {
    display: inline-block;
}   
.navbar-nav {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}	
	
header .special {
    padding-left: 0;
} 

.agenda .c_common {
    padding-bottom: 20px;
}	
.agenda .content_inner_item {
    text-align: center;
}
.banner .banner_inner h2 {
    font-size: 2.125rem;
    line-height: 130%;
}
.chat .chat_inner {
    margin-right: 0px;
}


	
	
	
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
header .nav-link {
    display: inline-block;
}   
.navbar-nav {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}	
		
header .special {
    padding-left: 0;
}

.chat .chat_inner {
    margin-right: 0px;
}

.h_img_inner {
    max-width: 768px;
}
.h_img .h_img_link a:nth-child(1) img {
    right: 384px;
    top: 40px;
    width: 89px;
    height: 96px;
}
.h_img .h_img_link a:nth-child(2) img {
    right: 383px;
    top: 129px;
    width: 89px;
    height: 97px;
}
.h_img .h_img_link a:nth-child(3) {
    width: 147px;
    height: 112px;
    left: 130px;
    top: 87px;
}	
.h_img .h_img_link a:nth-child(4) {
    width: 210px;
    height: 122px;
    left: 85px;
    bottom: 32px;
}	
.h_img .h_img_link a:nth-child(6) {
    width: 95px;
    height: 25px;
    right: 49px;
    bottom: 54px;
}
.h_img .h_img_link a:nth-child(5) {
    width: 140px;
    height: 90px;
    right: 181px;
    bottom: 104px;
}
.h_img .coupon_inner {
    top: 108px;
    right: 200px;
}

.h_img .coupon_inner span {
    font-size: 16px;
    margin-right: 18px;
    width: 20px;
}
.h_img .coupon_inner span:nth-child(3) {
    margin-right: 10px;
}

.h_img .coupon_inner span:nth-child(2) {
    margin-right: 12px;
}
.h_img .coupon_inner span:nth-child(1) {
    margin-right: 10px;
}












	
	
	
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.chat .chat_inner {
    margin-right: -25px;
}  
.info .info_link a {
    padding: 10px 15px;
}	
.profile .pro_left {
    padding: 30px 20px;
}
.profile .pro_left a {
    padding: 13px 20px 12px;
}
.profile .pro_left label {
    padding: 12px 20px 12px;
    margin-right: 10px;
}


.h_img_inner {
    max-width: 1024px;
}
.h_img .h_img_link a:nth-child(1) img {
    right: 512px;
    top: 65px;
    width: 120px;
    height: 117px;
}
.h_img .h_img_link a:nth-child(2) img {
    right: 510px;
    top: 176px;
    width: 121px;
    height: 123px;
}
.h_img .h_img_link a:nth-child(3) {
    width: 194px;
    height: 154px;
    left: 174px;
    top: 111px;
}	
.h_img .h_img_link a:nth-child(4) {
    width: 277px;
    height: 164px;
    left: 113px;
    bottom: 42px;
}	
.h_img .h_img_link a:nth-child(6) {
    width: 126px;
    height: 35px;
    right: 66px;
    bottom: 72px;
}
.h_img .h_img_link a:nth-child(5) {
    width: 186px;
    height: 117px;
    right: 242px;
    bottom: 138px;
}
.h_img .coupon_inner {
    top: 143px;
    right: 258px;
}

.h_img .coupon_inner span {
    font-size: 20px;
    margin-right: 18px;
    width: 32px;
}
.h_img .coupon_inner span:nth-child(3) {
    margin-right: 14px;
}

.h_img .coupon_inner span:nth-child(2) {
    margin-right: 10px;
}
.h_img .coupon_inner span:nth-child(1) {
    margin-right: 8px;
}






	
	
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
.h_img_inner {
    max-width: 1200px;
}
.h_img .h_img_link a:nth-child(1) img {
    right: 598px;
    top: 76px;
    width: 139px;
    height: 140px;
}
.h_img .h_img_link a:nth-child(2) img {
    right: 600px;
    top: 204px;
    width: 140px;
    height: 147px;
}
.h_img .h_img_link a:nth-child(3) {
    width: 226px;
    height: 174px;
    left: 205px;
    top: 135px;
}	
.h_img .h_img_link a:nth-child(4) {
    width: 326px;
    height: 211px;
    left: 133px;
    bottom: 34px;
}	
.h_img .h_img_link a:nth-child(6) {
    width: 149px;
    height: 39px;
    right: 76px;
    bottom: 84px;
}
.h_img .h_img_link a:nth-child(5) {
    width: 215px;
    height: 134px;
    right: 285px;
    bottom: 166px;
}
.h_img .coupon_inner {
    top: 169px;
    right: 303px;
}

.h_img .coupon_inner span {
    font-size: 20px;
    margin-right: 18px;
    width: 32px;
}
.h_img .coupon_inner span:nth-child(3) {
    margin-right: 20px;
}

.h_img .coupon_inner span:nth-child(2) {
    margin-right: 10px;
}













	
}



/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px){}





/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px){
	
	
	
	
	
	
}



/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2100px){
	
	
	
	
}












